[Unit]
Description=Arch Linux Update Service

[Service]
Type=oneshot
ExecStart=/usr/local/bin/df-system-update
StandardOutput=journal
StandardError=journal
